<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Induz Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Chip Manufacture | Home</title>
  <link href="http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-starter.css')}}" type="text/css"/>
</head>

<body>
  <div class="header-w3l">
    <!--header-->
    <header id="site-header" class="header-w3l fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand">
            Chip Manufacture
          </a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-lg-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('consumer.logout') }}">Log out</a>
              </li>
              
              
              
            </ul>
          </div>


          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
  </div>

  <!-- //header -->

  <!-- /w3l-banner-content-->
  <div class="register-package">
  <div class="banner-w3l-main">
    <div class="w3l-banner-content">
      <div class="container">
        <div class="bannerhny-info text-center">
          <h3 class="">Welcome to use our website.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--//w3l-banner-content -->

  <!-- register package -->
  <div class="w3l-content-2 w3l-progressblock py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <h6 class="title-subhny mb-2"><span>Register</span></h6>
        <h3 class="title-w3l mb-4">Register your package</h3>
    <div class="form-inner-cont pt-lg-5">
      
        <form action="{{  url_for('consumer.registerpackage')  }}" method="post" class="signin-form"></form>
          <div class="form-grids">
              <label>Chip type</label>
              <br/>
              <select name="chip_type" class="form-control" required>
                <option  hidden>chip type</option>
                {%- for i in chip_type %}
                <option>{{ i[0] }}</option>
                {%- endfor %}
              </select>
              <br/>
              <label>Chip number</label>
              <br/>
              <input type="text" name="chip_number" class="form-control" placeholder="Enter number " required />
              <br/>
              <label for="">Plant</label>
              <br/>
              <select name="plant_id" class="form-control" >
                
                <option value="1" hidden> Choose plant</option>
                {%- for i in plant_id %}
                <option> {{i[0]}}</option>
                {%- endfor %}
              </select>
              <br/>
            <div class="text-right">
              <button class="btn btn-style btn-effect">Register Package</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  </div>
<!-- //register pagkage -->

<!-- package list -->
<!--/w3l-content-->
<div class="w3l-content-2 w3l-progressblock py-5">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="col-lg-12">
      <h6 class="title-subhny mb-2"><span>Your packages</span></h6>
      <h3 class="title-w3l mb-4">Package List</h3>
      
      <br />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Package ID</th>
              <th>Chip Type</th>
              <th>Chip Number</th>
              <th>Plant</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {%- for package in package_list %}
            <tr>
              <td>{{ package[0] }}</td>
              <td>{{ package[1] }}</td>
              <td>{{ package[2] }}</td>
              <td>{{ package[3] }}</td>
              <td>{{ package[4] }}</td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--//w3l-content-->
<!-- //package list -->

  <!-- Package details -->
<!--/w3l-content-->
<div class="w3l-content-2 w3l-progressblock py-5">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="col-lg-12">
      <h6 class="title-subhny mb-2"><span>See details</span></h6>
        <h3 class="title-w3l mb-4">Package Details</h3>

        <!--  {{url_for('consumer.searchpackage')}} -->

        <form action="{{url_for('consumer.searchpackage')}}" method="post" class="signin-form"></form>
        <div class="form-grids">
            <select name="package_id" class="form-control" required>
              <option  hidden>Choose package ID</option>
              {%- for package in package_list %}
              <option>{{ package[0] }}</option>
              {%- endfor %}
            </select>
          <div class="text-right">
            <button class="btn btn-style btn-effect">Search</button>
          </div>
        </div>
    </form>
    <br />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Package ID</th>
              <th>Start time</th>
              <th>Status</th>
              
            </tr>
          </thead>
          <tbody>
            {%- for package in package_id_list %}
            <tr>
              <td>{{ package[0] }}</td>
              <td>{{ package[1] }}</td>
              <td>{{ package[2] }}</td>
              
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--//w3l-content-->
<!-- package details -->

  <!-- footer-28 block -->
  
   <footer class="footer-28  position-relative py-5">
    <div class="container">
      <div class="row footer-top-28">
        <div class="col-lg-5 footer-list-28 pr-lg-5 mt-5">
          <h6 class="footer-title-28">Quick Contact</h6>
          <p class="pr-lg-5">
            <a href="118010246@link.cuhk.edu.cn">118010246@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090564@link.cuhk.edu.cn">120090564@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="119010445@link.cuhk.edu.cn">119010445@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090171@link.cuhk.edu.cn">120090171@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090702@link.cuhk.edu.cn">120090702@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090322@link.cuhk.edu.cn">120090322@link.cuhk.edu.cn</a> 
          </p>

          <div class="main-social-footer-28 mt-4">
            <ul class="social-icons">
              <li class="facebook">
                <a href="#link" title="Facebook">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#link" title="Twitter">
                  <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="dribbble">
                <a href="#link" title="Dribbble">
                  <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
              </li>
              <li class="google">
                <a href="#link" title="Google">
                  <span class="fa fa-google" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            
            <div class="col-md-5 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#reserch"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Register packages</a></li>
                <li><a href="#construction"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Appoint plants</a></li>
                <li><a href="#agricultural"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Arrange packages</a></li>
                
              </ul>
            </div>
            

          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-2 mt-5">
        <p class="copy-footer-28 text-center">Copyright &copy; 2021.Company name All rights reserved.
            
        </p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
    <!-- //footer-28 block -->
  </footer>

  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/theme-change.js"></script>
  <!-- owl carousel -->
  <script src="assets/js/owl.carousel.js"></script>
  <!-- script for tesimonials carousel slider -->
  <!-- script for owlcarousel -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->


  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>