<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Induz Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Chip Manufacture | Home</title>
  <link href="http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-starter.css')}}" type="text/css"/>
</head>

<body>
  <div class="header-w3l">
    <!--header-->
    <header id="site-header" class="header-w3l fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
            Induz.
          </a>
          <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-lg-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html">Services</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item mr-lg-3 mr-4" title="Search"><a href="#search" class="search-btn">
                  <span class="fa fa-search" aria-hidden="true"></span></a></li>
              <!--/search-right-->
              <!-- search popup -->
              <div id="search" class="pop-overlay">
                <div class="popup">
                  <form action="#" method="GET" class="w3l-hnyform d-sm-flex">
                    <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                    <button type="submit">Search</button>
                    <a class="close" href="#url">&times;</a>
                  </form>
                </div>
              </div>
              <!-- /search popup -->
              <!--//search-right-->

            </ul>

          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
  </div>
  <!-- //header -->
  <!--/w3l-banner-content-->
  <div class="banner-w3l-main">
    <div class="w3l-banner-content">
      <div class="container">
        <div class="bannerhny-info text-center">
          <h3 class="">The reliable industry takes many forms.</h3>
          <a class="btn btn-style btn-white mt-sm-5 mt-4" href="about.html">
            Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>

  </div>
  <!--//w3l-banner-content-->
  <!--/w3l-upper-sec-->
  <section class="w3l-upper-sec">
    <div class="container">
      <div class="row upper-sec-grids">
        <div class="col-lg-7 upper-sec-grids-left pr-lg-5">
          <h6 class="title-subhny mb-2"><span>About Us</span></h6>
          <h3 class="title-w3l mb-3">Company history.</h3>
          <p class="mb-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
            tempufddfel. Learn more about our work! Lorem ipsum viverra feugiat.consectetur adipisicing dolor et amet.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit. Pellen tesque libero ut justo.
          </p>
        </div>
        <div class="col-lg-5 upper-sec-grids-right mt-lg-0 mt-5">

          <div class="upper-wrap-grid mb-4">
            <div class="upper-icon">
              <span class="fa fa-users"></span>
            </div>
            <div class="upper-info">
              <h4><a href="#url"> The reliable industry takes many forms.</a></h4>
            </div>
          </div>
          <div class="upper-wrap-grid mb-4">
            <div class="upper-icon">
              <span class="fa fa-linode"></span>
            </div>
            <div class="upper-info">
              <h4><a href="#url">Delivering beyond possible solutions</a></h4>
            </div>
          </div>
          <div class="upper-wrap-grid">
            <div class="upper-icon">
              <span class="fa fa-thumbs-up"></span>
            </div>
            <div class="upper-info">
              <h4><a href="#url">Success through
                  human resources</a></h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- //w3l-upper-sec-->
  <section class="w3l-index3 py-5" id="about">
    <div class="container py-lg-5 py-md-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="position-relative">
            <img src="assets/images/g1.jpg" alt="" class="radius-image img-fluid">
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 align-self pl-lg-5">
          <h6 class="title-subhny mb-2"><span>Our Story</span></h6>
          <h3 class="title-w3l mx-0">Connecting things,
            It’s all about people.</h3>
          <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
            ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
            elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
            dolor sit, amet elit. Dolor ipsum non velit.</p>
          <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="about.html"> Read More <span
              class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </section>
  <!--/w3l-content-1-->
  <div class="w3l-content-1 w3l-progressblock py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row w3l-content-inf">
        <div class="col-lg-6 w3l-content-left">
          <h6 class="title-subhny mb-2"><span>What We Do</span></h6>
          <h3 class="title-w3l mb-4">Why Choose Us</h3>
          <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
            eligendi
            vitae sit.Ea
            ipsum sed consequuntur illum facere.Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem ipsum
            dolor sit amet consectetur.
          </p>
          <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
            Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
        </div>
        <div class="col-lg-6 w3l-content-right pl-lg-5 mt-lg-0 mt-5">
          <div class="progress-info info1 mb-4">
            <h6 class="progress-tittle">Quality Services <span class="">60%</span></h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width:60%" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="progress-info info2 mb-4">
            <h6 class="progress-tittle">Working Ability <span class="">75%</span>
            </h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width:75%" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="progress-info info3 mb-4">
            <h6 class="progress-tittle">Machine Power <span class="">85%</span></h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width:85%" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="progress-info info3 mb-4">
            <h6 class="progress-tittle">Detailed planning <span class="">90%</span></h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="progress-info info3">
            <h6 class="progress-tittle">Improved operating conditions <span class="">95%</span></h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width:95%" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//w3l-content-1-->
  <!-- home page block1 -->
  <section class="home-services py-5 pt-lg-0">
    <div class="container py-lg-5 py-4 pt-lg-0">
      <div class="row">
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-linode"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Integrity</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-cogs"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Automation</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-fire-extinguisher"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Tradition</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-shield"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Safety</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home-page-block1 -->
  <!-- stats -->
  <section class="w3l-stats py-5" id="stats">
    <div class=" container py-lg-5 py-3">
      <div class="row w3l-stats-content-grids">
        <div class="col-lg-6 w3l-stats-content-grid-left pr-lg-5 mb-lg-0 mb-5">
          <div class="title-content text-left">
            <h6 class="title-subhny mb-2"><span>More Info</span></h6>
            <h3 class="title-w3l mb-4">Our Stats</h3>
            <p class="">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio.</p>
          </div>
          <div class="row stats-con mt-lg-5 mt-4">
            <div class="col-6 stats_info counter_grid">
              <span class="fa fa-building-o"></span>
              <p class="counter">1800</p>
              <h4>Worldwide Branches</h4>
            </div>
            <div class="col-6 stats_info counter_grid1">
              <span class="fa fa-users"></span>
              <p class="counter">1920</p>
              <h4>Qualified Engineers</h4>
            </div>
            <div class="col-6 stats_info counter_grid mt-5">
              <span class="fa fa-smile-o"></span>
              <p class="counter">1612</p>
              <h4>Work Facilities</h4>
            </div>
            <div class="col-6 stats_info counter_grid2 mt-5">
              <span class="fa fa-trophy"></span>
              <p class="counter">1980</p>
              <h4>Completed Projects</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 w3l-stats-content-grid-right">
          <img src="assets/images/g3.jpg" alt="" class="radius-image img-fluid">
          <img src="assets/images/g4.jpg" alt="" class="radius-image img-fluid mt-4">
        </div>
      </div>
    </div>
  </section>
  <!-- //stats -->
  <!-- middle -->
<div class="w3l-middle py-5">
  <div class="container py-lg-5 py-md-4">
    <div class="welcome-left">
      <h6 class="title-subhny two mb-2"><span>More Info</span></h6>
      <h3 class="title-w3l two mb-4">We Believe In Building Long Lasting Our Business Relationships.</h3>
      <p class="pr-lg-5">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing. </p>
      <div class="buttons mt-md-5 mt-4">
        <a class="btn btn-style btn-white mr-3" href="about.html">
          Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
          <a class="btn btn-style btn-primary" href="about.html"> Get a quote <span
            class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
      
      </div>
    </div>
  </div>
</div>
<!-- //middle -->
  <!--/Blog-Posts-->
  <section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny mb-2"><span>Our Posts</span></h6>
        <h3 class="title-w3l">Blog Posts</h3>
      </div>
      <div class="row inner-sec-w3ls">
        <!--/services-grids-->
        <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
          <div class="card img">
            <div class="card-body img">
              <a href="blog-single.html" class="d-block">
                <img src="assets/images/g5.jpg" alt="" class="img-fluid radius-image">
              </a>
              <div class="blog-des mt-4">
                <ul class="admin-post mb-2">
                  <li>
                    <span class="fa fa-user-o"></span><a href="#admin"> by Admin</a>
                  </li>
                  <li>
                    <p><span class="fa fa-clock-o"></span> Jan 28,2021</p>
                  </li>
                  <li>
                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                  </li>
                </ul>
                <h5 class="card-title mb-2"><a href="blog-single.html">Dream Big With Get More Inspiring Solutions From
                    Here.</a>
                </h5>
                <p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
          <div class="card img">
            <div class="card-body img">
              <a href="blog-single.html" class="d-block">
                <img src="assets/images/g2.jpg" alt="" class="img-fluid radius-image">
              </a>
              <div class="blog-des mt-4">
                <ul class="admin-post mb-2">
                  <li>
                    <span class="fa fa-user-o"></span><a href="#admin"> by Admin</a>
                  </li>
                  <li>
                    <p><span class="fa fa-clock-o"></span> Jan 28,2021</p>
                  </li>
                  <li>
                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                  </li>
                </ul>
                <h5 class="card-title mb-2"><a href="blog-single.html">Planning And Design. Modern Equipment.</a>
                </h5>
                <p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
          <div class="card img">
            <div class="card-body img">
              <a href="blog-single.html" class="d-block">
                <img src="assets/images/g3.jpg" alt="" class="img-fluid radius-image">
              </a>
              <div class="blog-des mt-4">
                <ul class="admin-post mb-2">
                  <li>
                    <span class="fa fa-user-o"></span><a href="#admin"> by Admin</a>
                  </li>
                  <li>
                    <p><span class="fa fa-clock-o"></span> Jan 28,2021</p>
                  </li>
                  <li>
                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                  </li>
                </ul>
                <h5 class="card-title mb-2"><a href="blog-single.html">Dream Big With Get More Inspiring Solutions From
                    Here.</a>
                </h5>
                <p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--//Blog-Posts-->
  <!-- /w3l-newsletter-->
	<section class="w3l-newsletter">
		<!-- /form-25-section -->
		<div class="form-25-main py-5">
			<div class="container py-lg-5">
				<div class="forms-25-info">
          <div class="title-content text-center mx-0">
            <h6 class="title-subhny two mb-2"><span>Newsletter</span></h6>
            <h3 class="title-w3l two">Subscribe to get the latest
							<br>news and updates.</h3>
          </div>
					<form action="#" method="post" class="signin-form mt-4 mb-2">
						<div class="forms-gds">
							<input type="text" name="" placeholder="Name" required />
							<input type="email" name="" placeholder="Email" required />
							<button class="btn btn-style btn-primary">Subscribe</button>
            </div>
            <p class="mt-4 text-center">By submitting this form, you agree to the <a href="#">privacy policy</a> and <a href="#">terms of use</a></p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- //w3l-newsletter-->
  <!--/testimonials-->
  <section class="w3l-testimonials py-5" id="testimonials">
    <div class="container py-md-5 py-2">
      <div class="row">
        <div class="col-lg-5 pr-lg-5 mb-lg-0 mb-4">
          <div class="title-content text-left">
            <h6 class="title-subhny mb-2"><span>Testimonials</span></h6>
            <h3 class="title-w3l mb-4">What our customers say</h3>
            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
              adipisicing.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing.

            </p>
          </div>

        </div>
        <div class="col-lg-7 pl-lg-5">
          <div class="owl-testimonial owl-carousel owl-theme">
            <div class="item">
              <div class="w3l-clients mt-lg-4 mt-3">
                <div class="testimonial position-relative">
                  <div class="icon-test">
                    <span class="fa fa-quote-right" aria-hidden="true"></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                    adipisicing.Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem
                    ipsum dolor sit amet.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="assets/images/team1.jpg" class="img-responsive"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Jenkins</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="w3l-clients mt-lg-4 mt-3">
                <div class="testimonial position-relative">
                  <div class="icon-test">
                    <span class="fa fa-quote-right" aria-hidden="true"></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                    adipisicing.Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem
                    ipsum dolor sit amet.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="assets/images/team2.jpg" class="img-responsive"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Jenkins</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="w3l-clients mt-lg-4 mt-3">
                <div class="testimonial position-relative">
                  <div class="icon-test">
                    <span class="fa fa-quote-right" aria-hidden="true"></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                    adipisicing.Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem
                    ipsum dolor sit amet.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="assets/images/team3.jpg" class="img-responsive"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Kiss Kington</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="w3l-clients mt-lg-4 mt-3">
                <div class="testimonial position-relative">
                  <blockquote>
                    <q>Lorem ipsum dolor sit amet</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                    adipisicing.Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem
                    ipsum dolor sit amet.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="assets/images/team4.jpg" class="img-responsive"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Jenkins</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//testimonials-->
  <!-- footer-28 block -->
  <footer class="footer-28 position-relative py-5">
    <div class="container">
      <div class="row footer-top-28">
        <div class="col-lg-5 footer-list-28 pr-lg-5 mt-5">
          <h6 class="footer-title-28">Quick Contact</h6>
          <p class="pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
            tempufddfel. Learn more about our work! Lorem ipsum viverra feugiat.</p>

          <div class="main-social-footer-28 mt-4">
            <ul class="social-icons">
              <li class="facebook">
                <a href="#link" title="Facebook">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#link" title="Twitter">
                  <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="dribbble">
                <a href="#link" title="Dribbble">
                  <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
              </li>
              <li class="google">
                <a href="#link" title="Google">
                  <span class="fa fa-google" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-md-3 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Quick Links</h6>
              <ul>
                <li><a href="index.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Home</a>
                </li>
                <li><a href="about.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> About
                    us</a></li>
                <li><a href="services.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Services</a></li>
                <li><a href="blog.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Blog
                    Posts</a></li>
                <li><a href="contact.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Contact</a></li>
              </ul>
            </div>
            <div class="col-md-5 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#reserch"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Chemical
                    Reserch</a></li>
                <li><a href="#construction"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Construction Materials</a></li>
                <li><a href="#agricultural"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Agricultural Engineering</a></li>
                <li><a href="#bridge"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Bridge
                    Engineering</a></li>
                <li><a href="#automotive"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Automotive & System</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Help</h6>
              <ul>
                <li><a href="#privacy"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Privacy
                    policy</a></li>
                <li><a href="#support"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Support</a></li>
                <li><a href="#terms"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Terms &
                    conditions</a></li>
                <li><a href="#license"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> License
                    and uses</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-2 mt-5">
        <p class="copy-footer-28 text-center">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>


    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
    <!-- //footer-28 block -->
  </footer>
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/theme-change.js"></script>
  <!-- owl carousel -->
  <script src="assets/js/owl.carousel.js"></script>
  <!-- script for tesimonials carousel slider -->
  <!-- script for owlcarousel -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->


  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>