<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Induz Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Chip Manufacture | Home</title>
  <link href="http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-starter.css')}}" type="text/css"/>
</head>

<body>
  <div class="header-w3l">
    <!--header-->
    <header id="site-header" class="header-w3l fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand">
            Chip Manufacture
          </a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-lg-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('consumer.logout') }}">Log out</a>
              </li>

            </ul>

          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
  </div>

  <!-- //header -->

  <!-- /w3l-banner-content-->
  <div class="register-package">
  <div class="banner-w3l-main w3l-middle">
    <div class="w3l-banner-content">
      <div class="container">
        <div class="bannerhny-info text-center">
          <h3 class="">Pay</h3>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--//w3l-banner-content -->


  <!--/w3l-content-->
<div class="w3l-content-2 w3l-progressblock py-5">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="col-lg-12">
        
      <h6 class="title-subhny mb-2"><span>Pay</span></h6>
      <h3 class="title-w3l mb-4">Package Information</h3>
      
      <br />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Package ID</th>
              <th>Chip Number</th>
              <th>Chip Type</th>
              <th>Plant</th>
              <th>Price</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody name="package">
            
            <tr>
              <th>{{package[0]}} </th>
              <th>{{package[1]}} </th>
              <th>{{package[2]}} </th>
              <th>{{package[3]}} </th>
              <th>{{package[4]}} </th>
              <th>{{package[5]}} </th>
            </tr>
          </tbody>
        </table>

        <form action="{{  url_for('consumer.payment', package = package)}}" method="post" class = "signin-form">
          <div >
            <button class="btn btn-style btn-effect">Pay   </button>
            {% if success %}
					  <p class="pr-lg-5" style="color:rgb(64, 209, 32)">Pay success!</p>
				    {% endif %}
            {% if not success %}
					  <p class="pr-lg-5" style="color:#f00">{{error}}</p>
				    {% endif %}
          </div>
        </form>
        <br />
        <form action="{{  url_for('consumer.payreturn')}}" method="post" class = "signin-form">
          <div >            
            <button class="btn btn-style btn-effect">Return</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!--//w3l-content-->

  <!-- footer-28 block -->
  
   <footer class="footer-28  position-relative py-5">
    <div class="container">
      <div class="row footer-top-28">
        <div class="col-lg-5 footer-list-28 pr-lg-5 mt-5">
          <h6 class="footer-title-28">Quick Contact</h6>
          <p class="pr-lg-5">
            <a href="118010246@link.cuhk.edu.cn">118010246@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090564@link.cuhk.edu.cn">120090564@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="119010445@link.cuhk.edu.cn">119010445@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090171@link.cuhk.edu.cn">120090171@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090702@link.cuhk.edu.cn">120090702@link.cuhk.edu.cn</a> 
          </p>
          <p class="pr-lg-5">
            <a href="120090322@link.cuhk.edu.cn">120090322@link.cuhk.edu.cn</a> 
          </p>

          <div class="main-social-footer-28 mt-4">
            <ul class="social-icons">
              <li class="facebook">
                <a href="#link" title="Facebook">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#link" title="Twitter">
                  <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="dribbble">
                <a href="#link" title="Dribbble">
                  <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
              </li>
              <li class="google">
                <a href="#link" title="Google">
                  <span class="fa fa-google" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            
            <div class="col-md-5 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#reserch"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Register packages</a></li>
                <li><a href="#construction"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Appoint plants</a></li>
                <li><a href="#agricultural"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Arrange packages</a></li>
                
              </ul>
            </div>
            

          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-2 mt-5">
        <p class="copy-footer-28 text-center">Copyright &copy; 2021.Company name All rights reserved.
            
        </p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
    <!-- //footer-28 block -->
  </footer>

  <!--//footer-->
  


  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
