<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Induz Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Induz an Industrial Category Bootstrap Responsive Web Template | Services</title>
  <link href="http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
  <div class="header-w3l">
    <!--header-->
    <header id="site-header" class="header-w3l fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
            Induz.
          </a>
          <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item mr-lg-3 mr-4" title="Search"><a href="#search" class="search-btn">
                  <span class="fa fa-search" aria-hidden="true"></span></a></li>
              <!--/search-right-->
              <!-- search popup -->
              <div id="search" class="pop-overlay">
                <div class="popup">
                  <form action="#" method="GET" class="w3l-hnyform d-sm-flex">
                    <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                    <button type="submit">Search</button>
                    <a class="close" href="#url">&times;</a>
                  </form>
                </div>
              </div>
              <!-- /search popup -->
              <!--//search-right-->

            </ul>

          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
  </div>
  <!-- //header -->
  <!--/breadcrumb-bg-->
  <div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
      <h2 class="title pt-5">Services</h2>
      <ul class="breadcrumbs-custom-path mt-3 text-center">
        <li><a href="index.html">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services </li>
      </ul>
    </div>
  </div>
  <!--//breadcrumb-bg-->
   <!--/w3l-content-1-->
   <div class="w3l-content-1 w3l-progressblock py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row w3l-content-inf">
        <div class="col-lg-6 w3l-content-left">
          <h6 class="title-subhny mb-2"><span>What We Offer</span></h6>
          <h3 class="title-w3l mb-4">We perform all types of
            property maintenance
            and repair </h3>
          <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
            eligendi
            vitae sit.Ea
            ipsum sed consequuntur illum facere.Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem ipsum
            dolor sit amet consectetur.
          </p>
         
        </div>
        <div class="col-lg-6 w3l-content-right pl-lg-5 mt-lg-4">
          <p class="para-sub">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
            eligendi
            vitae sit.Ea
            ipsum sed consequuntur illum facere.Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem ipsum
            dolor sit amet consectetur.
          </p>
          <p class="para-sub mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
            eligendi
            vitae sit.Ea
            ipsum sed consequuntur illum facere.Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad. Lorem ipsum
            dolor sit amet consectetur.
          </p>
          <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
            Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
  <!--//w3l-content-1-->
  <!-- home page block1 -->
  <section class="home-services py-5 pt-lg-0">
    <div class="container py-lg-5 py-4 pt-lg-0">
      <div class="row">
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-linode"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Integrity</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-cogs"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Automation</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-fire-extinguisher"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Tradition</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-shield"></span>
              </div>
              <div class="info">

                <h4><a href="#url">Safety</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home-page-block1 -->
  <section class="w3l-features-8">
       <!-- /features -->
           <div class="features py-5">
		      <div class="container py-md-5 py-3">	
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Featured Services</span></h6>
              <h3 class="title-w3l mb-3">Our Services</h3>
              <p class="">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio.</p>
            </div>
			   <div class="fea-gd-vv row mt-lg-0 mt-4">	
          <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
							<a href="#"><img src="assets/images/g1.jpg" class="img-fluid radius-image" alt=""></a>
						<div class="float-lt feature-gd row no-gutters">	
								<div class="icon col-2"> <span class="fa fa-chain-broken" aria-hidden="true"></span></div>
								<div class="icon-info col-10">
								<h4><a href="#">Power & Energy</a> </h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
								</div>
						</div>	
					</div>
          <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
							<a href="#"><img src="assets/images/g2.jpg" class="img-fluid radius-image" alt=""></a>
							<div class="float-lt feature-gd row no-gutters">
									<div class="icon col-2"> <span class="fa fa-plug" aria-hidden="true"></span></div>
									<div class="icon-info col-10">
									<h4><a href="#">Mechanical Works</a> </h4>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
									</div>
							</div>	
						</div>
            <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
								<a href="#"><img src="assets/images/g3.jpg" class="img-fluid radius-image" alt=""></a>
								<div class="float-lt feature-gd row no-gutters">
										<div class="icon col-2"> <span class="fa fa-database" aria-hidden="true"></span></div>
										<div class="icon-info col-10">
										<h4><a href="#">Petroleum Refinery</a> </h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
										</div>
								</div>	
						</div>
            <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
								<a href="#"><img src="assets/images/g4.jpg" class="img-fluid radius-image" alt=""></a>
                <div class="float-lt feature-gd row no-gutters">
										<div class="icon col-2"> <span class="fa fa-fire-extinguisher" aria-hidden="true"></span></div>
										<div class="icon-info col-10">
										<h4><a href="#">Oil and Gas</a> </h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
										</div>
								</div>	
							</div>
							<div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
									<a href="#"><img src="assets/images/g5.jpg" class="img-fluid radius-image" alt=""></a>
                  <div class="float-lt feature-gd row no-gutters">
											<div class="icon col-2"> <span class="fa fa-truck" aria-hidden="true"></span></div>
											<div class="icon-info col-10">
											<h4><a href="#">Logistics Services</a> </h4>
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
											</div>
									</div>	
								</div>
                <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">		
										<a href="#"><img src="assets/images/g6.jpg" class="img-fluid radius-image" alt=""></a>
										<div class="float-lt feature-gd row no-gutters">
												<div class="icon col-2"> <span class="fa fa-industry" aria-hidden="true"></span></div>
												<div class="icon-info col-10">
												<h4><a href="#">General Industry</a> </h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
												</div>
										</div>	
									</div>	 
                  <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
										<a href="#"><img src="assets/images/g7.jpg" class="img-fluid radius-image" alt=""></a>
                    <div class="float-lt feature-gd row no-gutters">
										<div class="icon col-2"> <span class="fa fa-database" aria-hidden="true"></span></div>
										<div class="icon-info col-10">
										<h4><a href="#">Industrial</a> </h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
												</div>
										</div>	
									</div>	
                  <div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
										<a href="#"><img src="assets/images/g8.jpg" class="img-fluid radius-image" alt=""></a>
                    <div class="float-lt feature-gd row no-gutters">
										<div class="icon col-2"> <span class="fa fa-chain-broken" aria-hidden="true"></span></div>
										<div class="icon-info col-10">
										<h4><a href="#">Automotive</a> </h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
												</div>
										</div>	
									</div>	
									<div class="float-top col-lg-4 col-sm-6 mt-md-5  mt-4">	
										<a href="#"><img src="assets/images/g9.jpg" class="img-fluid radius-image" alt=""></a>
										<div class="float-lt feature-gd row no-gutters">
										<div class="icon col-2"> <span class="fa fa-plug" aria-hidden="true"></span></div>
										<div class="icon-info col-10">
										<h4><a href="#">Engineering</a> </h4>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit. </p>
												</div>
										</div>	
									</div>		 				 
		     	</div>  
		    </div>
          </div>
      <!-- //features -->
</section>
   <!-- footer-28 block -->
   <footer class="footer-28 position-relative py-5">
    <div class="container">
      <div class="row footer-top-28">
        <div class="col-lg-5 footer-list-28 pr-lg-5 mt-5">
          <h6 class="footer-title-28">Quick Contact</h6>
          <p class="pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
            tempufddfel. Learn more about our work! Lorem ipsum viverra feugiat.</p>

          <div class="main-social-footer-28 mt-4">
            <ul class="social-icons">
              <li class="facebook">
                <a href="#link" title="Facebook">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#link" title="Twitter">
                  <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="dribbble">
                <a href="#link" title="Dribbble">
                  <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
              </li>
              <li class="google">
                <a href="#link" title="Google">
                  <span class="fa fa-google" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-md-3 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Quick Links</h6>
              <ul>
                <li><a href="index.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Home</a>
                </li>
                <li><a href="about.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> About
                    us</a></li>
                <li><a href="services.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Services</a></li>
                <li><a href="blog.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Blog
                    Posts</a></li>
                <li><a href="contact.html"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Contact</a></li>
              </ul>
            </div>
            <div class="col-md-5 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#reserch"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Chemical
                    Reserch</a></li>
                <li><a href="#construction"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Construction Materials</a></li>
                <li><a href="#agricultural"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Agricultural Engineering</a></li>
                <li><a href="#bridge"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Bridge
                    Engineering</a></li>
                <li><a href="#automotive"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Automotive & System</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Help</h6>
              <ul>
                <li><a href="#privacy"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Privacy
                    policy</a></li>
                <li><a href="#support"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span>
                    Support</a></li>
                <li><a href="#terms"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> Terms &
                    conditions</a></li>
                <li><a href="#license"><span class="fa fa-angle-double-right mr-2" aria-hidden="true"></span> License
                    and uses</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-2 mt-5">
        <p class="copy-footer-28 text-center">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>


    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
    <!-- //footer-28 block -->
  </footer>
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/theme-change.js"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->


  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>